annotated-types
anyio
click
colorama
exceptiongroup
fastapi
h11
httptools
idna
joblib
numpy
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
scipy
six
sniffio
starlette==0.27.0
threadpoolctl
typing_extensions
tzdata
uvicorn
watchfiles
websockets
